.d3bc-chart {
    background-color: #EEE;
}

.d3bc-axisLayer path, .d3bc-axisLayer line {
    stroke: #444;
}

.d3bc-axisLayer text {
    fill: #444;
}

.d3bc-axisTitle {
    color: #444;
    font-family: sans-serif;
    text-anchor: middle;
}

.d3bc-bubble {
    fill-opacity: 0.6;
}

.d3bc-bubble:hover {
    fill-opacity: 0.8;
}

.d3bc-bubble-selected {
    stroke: #444;
    stroke-width: 2px;
}

.d3bc-selectionRectangle .selection {
    fill: #888;
    fill-opacity: 0.4;
    stroke: none;
}

.d3bc-tooltip {
    position: absolute;
    pointer-events: none;
}

.d3bc-tooltip-content {
    padding: 1em;
    background: #F8F8F8;
}
