svg {
    background-color: black;
}

.axisLayer path, .axisLayer line {
    stroke: #FFF;
}

.axisLayer text {
    fill: #FFF;
}

.point {
    fill: #FFF;
    fill-opacity: 0.6;
}

.selected {
    stroke: #0EF;
    stroke-width: 2px;
}

.selectionRectangle .selection {
    fill: white;
    fill-opacity: 0.4;
    stroke: none;
}
