svg {
    background-color: black;
}

.axisLayer path, .axisLayer line {
    stroke: #FFF;
}

.axisLayer text {
    fill: #FFF;
}

.point {
    fill: #FFF;
    fill-opacity: 0.6;
}

.point:hover {
    fill-opacity: 1;
}

.selected {
    stroke: #0EF;
    stroke-width: 2px;
}

.selectionRectangle .selection {
    fill: white;
    fill-opacity: 0.4;
    stroke: none;
}

.title {
    font-family: sans-serif;
    font-size: 14px;
    text-anchor: middle;
}

div.tooltip {
    position: absolute;
    /*width: 60px;*/
    /*height: 28px;*/
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 14px;
    background: #444;
    color: white;
    border-radius: 4px;
    pointer-events: none;
}
